<!--
  Generated template for the CameraPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Caméra</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="home">
  <p>Prends en photo le travail réalisé !</p>

  <button ion-button full (click)="takePhoto()">
    <ion-icon name="camera"></ion-icon>&nbsp;&nbsp;
    Prendre une photo
  </button>

  <ion-grid>
    <ion-row>
      <ion-col col-6="align-self-center" *ngFor="let myphoto of myphotos; let id = index">

        <ion-card class="block">
          <ion-icon class="removePhoto" name="trash" (click)="removePhoto(id)"></ion-icon>
          <img [src]="myphoto" *ngIf="myphoto" id="filter">



        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>


<!--<button  ion-button icon-left color="danger">-->
  <!---->
  <!--Annulation-->
<!--</button>-->
<!--<img [src]="base64Image" *ngIf="base64Image" />-->

