page-satisfaction {
  .item-md{
    color: #eee;
    background-color: #fbc000;

  }
  .content-md{
    color: #eee;
    background-color: #fbc000;

  }
  .item-input .label-md, .item-select .label-md, .item-datetime .label-md{
    color: #eee;
  }
  .button-md{
    background-color: #1e82be;
  }
}
