page-list-master {
  .content-md {
    color: #eee;
    background-color: #fbc000;

  }
  .list-md .item-block .item-inner{
    border-bottom: 1px solid #eee;
  }
  .item-md {
    color: #eee;
    background-color: #fbc000;

  }
  page-item-create .profile-image-wrapper .profile-image-placeholder{
    background-color: #1e82be !important;
  }
}
