page-welcome {
  .splash-bg {
    position: relative;
    background-color: #fbc300;
    background-size: cover;
    height: 45%;
    z-index: 1;
    background-repeat: repeat-x;
    animation: animatedBackground 40s linear infinite;
  }

  .splash-info {
    position: relative;
    z-index: 2;
    margin-top: -64px;
    text-align: center;
  }
  .splash-logo {
    margin: auto;
    background: url('../assets/img/appicon.png') repeat transparent;
    background-size: 100%;
    width: 128px;
    height: 128px;
  }
  .splash-intro {
    font-size: 18px;
    font-weight: bold;
    max-width: 80%;
    margin: auto;
  }
  button.login {
    color: #eee;
    background-color: #1e82be;
    margin-top: 25px;
  }
  button.signup{
    color: #eee;
    background-color: #1e82be;
    margin-top: 25px;
  }
  .content-md{
    background-color: #fbc300;

  }
  .button-md{
    background-color: #1e82be;

  }
}
